.div-1 {
    margin-right: auto;
  }
    
  .div-1 {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 200px;
    color: hotpink;
  }
  
  .div-2 {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 500px;
    color: rgb(108, 183, 233);
  }
  
  .div-3 {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 800px;
    color: rgb(108, 183, 233);
  }
  
    h1 {
        text-decoration: underline;
        color: brown;
        margin-top: auto;
        margin-bottom: auto;
        margin-right: auto;
        margin-left: auto
  }

    h2 {
      margin-top: auto;
      margin-bottom: auto;
      margin-right: auto;
      margin-left: auto;
      color:black
    }
  
  